<p id="notice"><%= notice %></p>

<h1>Taxas</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.description %></td>
        <td><%= rate.value %></td>
        <td><%= link_to 'Visualizar', rate %></td>
        <td><%= link_to 'Editar', edit_rate_path(rate) %></td>
        <td><%= link_to 'Deletar', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Taxa', new_rate_path %> | <%= link_to 'Calcular', calcula_taxa_path %>
